<div class="header home">
    <div class="container-fluid">
        <div class="header-top row navbar-dark bg-dark align-items-center">
            <div class="col-lg-3">
                <div class="brand">
                    <a href="/" title="Le Site du Nettoyage">
                            <h1 class="m-0 text-primary logo"><i class="fab fa-digital-ocean"></i> ÉCO NET</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="topbar">
                    <div class="topbar-col">
                        <a href="tel:09 87 38 48 85"><i class="fas fa-mobile"></i>09 87 38 48 85</a>
                    </div>
                    <div class="topbar-col">
                        <a href="tel:+33 7 66 62 60 89"><i class="fa fa-phone-alt"></i>+33 7 66 62 60 89</a>
                    </div>
                    <div class="topbar-col">
                        <a href="mailto:info@example.com"><i class="fa fa-envelope"></i>eco.nettoyage75@gmail.com</a>
                    </div>
                    <div class="topbar-col">
                        <div class="topbar-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <a href="/" class="nav-item nav-link active">ACCUEIL</a>
                            <a href="{{ path('covid_19') }}" class="nav-item nav-link">Décontamination COVID-19</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Nos Services</a>
                                <div class="dropdown-menu">
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage de Maison</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage de Bureau</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage de vitre</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Débarras</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage Fin de     chantier</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage d'appartement</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Nettoyage d'immeubles</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Autres services</a>
                                    <a href="{{ path('covid_19') }} " class="dropdown-item">Petits travaux</a>
                                </div>
                            </div>
                            <a href="{{ path('covid_19') }}" class="nav-item nav-link">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="hero row align-items-center">
            <div class="col-md-7">
                <h2>L'entreprise de
                    nettoyage adaptée
                    à vos besoins
                </h2><br>
                <h2>sur Paris et IDF</h2>
                <p>Réduisez vos coûts, gagnez en qualité et générez moins de déchets !</p>
                <p>Notre entreprise est Impliquée dans le développement durable, toutes nos prestations sont exclusivement tournées vers une éthique écologique.</p>
            </div>
            <div class="col-md-5">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ asset('build/img/blog-1.jpg') }}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('build/img/blog-2.jpg') }}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ asset('build/img/blog-3.jpg') }}" alt="Third slide">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>